@import url("normalize.css");

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.clearfix {
  clear: both;
}

/* HEADER */
.hat {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #007765;
}

.logo {
  float: left;
  margin-top: 20px;
  margin-bottom: 19px;
}

nav {
  float: right;
  margin-top: 28px;
  font-family: 'Roboto', 'Helvetica Nue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto', 'Helvetica Nue', sans-serif;
}

/* Block 1 */
.hero1 {
  margin-top: 84px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url('images/block1.svg');
  background-size: cover;
  background-position: center center;
}

.hero1 .message {
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: #FFFFFF;
}

/* Block 2 */
.hero2 {
  padding-top: 48px;
  padding-bottom: 92px;
  background: #EEEEEE;
}

.hero2 .header{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.hero2  .content {
  margin-top: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

/* Block 3 */
.hero3 {
  background-image: url('images/block3.svg');
  background-size: cover;
  background-position: center center;
  padding-top: 128px;
  padding-bottom: 127px;
}

.hero3 .message {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 108px;
  margin-right: 108px;
}

/* Block 4 */
.hero4 {
  background: #FFFFFF;
  padding-bottom: 92px;
  padding-top: 48px;
}

.hero4 .header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  padding-bottom: 16px;
}

.hero4 p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.hero4 img {
  float: left;
  padding-right: 48px;
  width: 115px;
  height: 115px;
}

.hero4 .text {
  margin: 0;
}

/* Block 4 */
.hero5 {
  background-color: #EEEEEE;
  padding-top: 48px;
  padding-bottom: 94px;
}

.hero5 .header {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

.hero5 figure {
  display: inline-block;
  text-align: center;
  padding-top: 24px;
}

.hero5 .i1, .i2 {
  margin-left: 0;
  margin-right: 30px;
}

.hero5 .i3 {
  margin: 0;
}

.hero5 .block {
  text-align: center;
}

.hero5 .name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
  margin: auto;
}

.hero5 .pos {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.hero5 img {
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
}

/* Footer */
.foot {
  background-color: #333333;
  padding-top: 48px;
  padding-bottom: 64px;
}

.foot p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-left: 285px;
  margin-right: 285px;
  color: #FFFFFF;
}
