body {
  width: 70%;
  margin: auto;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}

table, th, td {
    border: 1px solid black;
    caption-side: bottom;
}

figcaption, caption {
    font-style: italic;
}

tfoot {
    border: 0px;
}

figure {
    float: right;
}

.Sam_Houston_portrait > img {
    height: 12em;
}